.bio-card {
    list-style-type: none;
    padding-bottom: 1%;
    margin: 1%;
    width: 400px;
    background-color: #2E424D;
    border-radius: 0% 0% 5% 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 100%;
}

.bio-card p,
.bio-card h2 {
    color: white;
}

.profile-image {
    width: 100%;
    height: auto;
}

.bio-content {
    padding: 0% 5%;
    font-size: 1.1em;
}

.bio-title {
    font-weight: bolder;
    font-size: 1.1em;
    text-transform: uppercase;
}